.app {
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;
	transition: 0.5s;
}

#form {

	.group {

		margin-top: 25px;

		input {
		
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #000;
		transition: 0.5s;
		min-width: 210px;

		}

		input:focus {
			box-shadow: none;
		}

	}

  	

}