.app {
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh
}

#form {

  	input {
		
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #000;

	}

	input:focus {
		box-shadow: none;
	}

}